@import url('https://fonts.googleapis.com/css?family=Roboto');



body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 10px;
}

.form-group input[type='text'] {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.form-group input[type='submit'] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.form-group input[type='submit']:hover {
  background-color: #3e8e41;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-group label {
  margin-right: 10px;
}

.guest-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  color: #f44336;
}
.guest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.guest.attending {
  background-color: #e0f2f1;
}

.guest.not-attending {
  background-color: #ffebee;
}

.guest .guestName {
  display: flex;
  align-items: center;
}

.guest .guestName p {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.guest .guestName p:hover {
  text-decoration: underline;
}

.guest .guestName button {
  font-size: 16px;
  padding: 5px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  color: #999;
  cursor: pointer;
}

.guest .guestName button:hover {
  color: #333;
}

.guest .actions {
  display: flex;
  align-items: center;
}

.guest .actions button {
  font-size: 16px;
  padding: 5px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  color: #999;
  cursor: pointer;
}

.guest .actions button:hover {
  color: #333;
}

.guest .actions button.delete {
  color: #f44336;
}

.guest .actions button.delete:hover {
  color: #c62828;
}

.guest .actions button.check {
  color: #4caf50;
}

.guest .actions button.check:hover {
  color: #388e3c;
}

.guest .actions button.undo {
  color: #ffc107;
}

.guest .actions button.undo:hover {
  color: #f57f17;
}

.error {
  color: red;
  margin-bottom: 10px;
}
